* {
  font-family: "DM Sans" sans-serif;
}

@media (min-width: 414px) {
  .xs\:text-display-4 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .xs\:text-body-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 768px) {
  .md\:text-display-5 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-display-3 {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }

  .md\:text-body-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:text-body-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .lg\:text-body-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .lg\:hover\:d-primary-text-hover:hover {
    --tw-text-opacity: 1;
    color: rgba(82, 82, 91, var(--tw-text-opacity));
  }

  .dark .lg\:hover\:d-primary-text-hover:hover {
    --tw-text-opacity: 1;
    color: rgba(178, 204, 204, var(--tw-text-opacity));
  }
}

@media (min-width: 1536px) {
  .\32 xl\:text-display-4 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .\32 xl\:text-display-2 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  .\32 xl\:text-body-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .\32 xl\:text-body-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.text-display-6 {
  font-size: 2.25rem;
  line-height: 2.25rem;
}

.text-display-5 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.d-container,
.d-container-content {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.d-container-content {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .d-container-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@keyframes slide-in-first {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes btnAnimation {
  0% {
    transform: rotate(0) translateX(-30px);
    opacity: 0;
  }
  76% {
    transform: rotate(0) translateX(10px);
    opacity: 0.76;
  }
  100% {
    transform: rotate(0) translateX(0px);
    opacity: 1;
  }
}

@keyframes imgSlide {
  0% {
    transform: rotate(0) translateX(-10%);
    opacity: 0;
  }
  76% {
    transform: rotate(0) translateX(10%);
    opacity: 0.76;
  }
  100% {
    transform: rotate(0) translateX(0px);
    opacity: 1;
  }
}
